<%-  include("partials/header.ejs") %>


<div class="secondary container" id="contact">
    <h1>Contact us</h1>
    <p id="contactP">For any inquiries, please contact me!</p>

    <form
    action="https://formspree.io/f/meoekdnd"
    method="POST">
    <div id="form">
    
      
      <input type="email" name="email" placeholder="Your email">
    
    
      
      <textarea name="message" placeholder="Your message" cols="40" rows="5"></textarea>
    
    <!-- your other form fields go here -->
    <button type="submit" class="btn btn-secondary">Send</button>
    </div>
  </form>

</div>

  </div>

  <%-  include("partials/footer.ejs") %>